body {
  background-color: #dadada;
  font-size: 10px;
  column-width: 326px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}
@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 48%;
  }
