body {
  background-color: #dadada;
  font-size: 10px;
  column-width: 326px;
}

div {
  background-image: .preview baku
  background-image: .preview london
  background-image: .preview madrid
  background-image: .preview rome
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.emphasis {
  font-family: "roboto condensed" ;
  uppercase;
  text-align: center
}
  

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}
@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 48%;
  }
